<footer>
    <p>
        Las entradas de este blog están escritas bajo
        <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.es"
           target="_blank">
            licencia CC BY SA
        </a>.
    </p>
    <ul>
        <li>
            <a href="/legal">Información legal</a>
        </li>
        <li>
            <a href="/rss.xml">Feed RSS</a>
        </li>
    </ul>
</footer>