<header>
    <div class="slogan">
        <p>El blog de desarrollo de software de Ivan Montilla.</p>
    </div>

    <ul class="main-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/archive">Todas las entradas</a></li>
        <li><a target="_blank" href="https://links.iokode.blog/author">Sobre el autor</a></li>
    </ul>
    
    <ul class="social-links">
        <li><a target="_blank" href="https://links.iokode.blog/github">GitHub</a></li>
        <li><a target="_blank" href="https://links.iokode.blog/twitter">Twitter</a></li>
        <li><a target="_blank" href="https://links.iokode.blog/twitch">Twitch.tv</a></li>
        <li><a target="_blank" href="https://links.iokode.blog/youtube">YouTube</a></li>
        <li><a target="_blank" href="https://links.iokode.blog/youtube-live">Directos en YouTube</a></li>
    </ul>
</header>