<div id="partners">
    <span class="title">Suelo leer</span>
    <p>Estos son algunos de los blogs que suelo leer</p>
    <ul>
        <li>
            <a target="_blank" href="https://blog.koalite.com/">Koalite</a>
        </li>
        <li>
            <a target="_blank" href="https://www.variablenotfound.com/">Variable not found</a>
        </li>
        <li>
            <a target="_blank" href="https://xurxodev.com/">Xurxodev</a>
        </li>
    </ul>
</div>